/*------------------------------------------------------
Table of content
--------------------------------------------------------
1.General Styles
2.Preloader page
3.Navigation
4.Hero
5.About
6.Features
7.Testimonials
8.Pricing table
9.Footer
10.Modals
11.Blog
12.Signle post



/*----------------------------------------
Fonts
-----------------------------------------*/

/* @font-face {
    font-family: 'Hk_Groteskregular';
    
    src: url('../fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
    url('../fonts/hkgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */


/*----------------------------------------
General Styles
----------------------------------------*/

body {
    /* font-family: 'Hk_Groteskregular', sans-serif; */
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    line-height: 26px;
    overflow-x: hidden;
    color: #637282;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'Hk_Groteskregular', sans-serif; */
    margin-bottom: 10px;
    line-height: 24px;
    font-weight: 700;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    display: block;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

a {
    text-decoration: none;
    transition: all 0.4s ease;
}

a:hover {
    color: #1968e0;
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-weight: 300;
}

hr.hr {
    margin: 50px 0;
    opacity: 0.75;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: center;
}

.color-white {
    color: #fff;
}

.color-black {
    color: #222;
}

.content-col-left {
    position: relative;
    float: left;
    width: 40%;
}

.content-col-right {
    position: relative;
    float: right;
    width: 60%;
}
.bg-color-100{
    background: 	#121338;

}

.bg-color-1 {
    background: #ff7b00;
    background: -moz-linear-gradient(top, #E8930C 0%, #FF7B00 0%, #E8930C 0%, #FF7B00 100%);
    background: -webkit-linear-gradient(top, #E8930C 0%, #FF7B00 0%, #E8930C 0%, #FF7B00 100%);
    background: linear-gradient(to bottom, #E8930C 0%, #FF7B00 0%, #E8930C 0%, #FF7B00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8930C', endColorstr='#ff7b00', GradientType=0);
}
.item_facturacion_electronica{
    text-align: center;
    height: 340px;
    color:#fff;
}
.item_facturacion_electronica p{
    /* margin:0 auto;  */
    font-size:16px; 
    max-width: 175px;
}

.item_facturacion_electronica h4 {
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid #ff7b00;
    padding-bottom: 16px;
    /* margin: 20px auto; */
    color: #ff7b00;
    max-width: 175px;
}


/*-------margins padding--------*/

.mg-tp-20 {
    margin-top: 20px;
}

.mg-tp-30 {
    margin-top: 30px;
}

.mg-tp-40 {
    margin-top: 40px;
}

.mg-tp-80 {
    margin-top: 80px;
}

.mg-bt-20 {
    margin-bottom: 20px;
}

.mg-bt-30 {
    margin-bottom: 30px;
}

.mg-bt-40 {
    margin-bottom: 40px;
}

.mg-bt-60 {
    margin-bottom: 60px;
}

.mg-tp-60 {
    margin-top: 60px;
}

.pd-bt-40 {
    padding-bottom: 40px;
}

.pd-bt-60 {
    padding-bottom: 60px;
}

.pd-bt-80 {
    padding-bottom: 80px;
}

.pd-tp-20 {
    padding-top: 20px;
}

.pd-tp-30 {
    padding-top: 30px;
}

.pd-tp-50 {
    padding-top: 50px;
}

.pd-tp-60 {
    padding-top: 60px;
}

.pd-tp-80 {
    padding-top: 80px;
}

.padd-40 {
    padding-top: 40px;
    padding-bottom: 40px
}

.padd-80 {
    padding-top: 80px;
    padding-bottom: 80px
}

.padd-100 {
    padding-top: 100px;
    padding-bottom: 100px
}

.padd-150 {
    padding-top: 150px;
    padding-bottom: 150px
}

.padd-bt-0 {
    padding-bottom: 0 !important;
}

.section-padd-top {
    padding-top: 80px;
}

.special-padd {
    padding-top: 40px;
    padding-bottom: 80px;
}

.section-sponsors {
    padding: 0 0 70px 0;
}

.section-sponsors1 {
    padding: 0 0 40px 0;
}

/*-------Buttons--------*/

.btn {
    padding: 15px 45px;
    border-radius: 100px;
    font-size: 12px;
    border: none;
    /* font-weight: bold; */
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 10px 35px 2px rgba(61, 61, 61, .30);
}

.btn:hover,
.btn:focus {
    box-shadow: 0 5px 20px 1px rgba(61, 61, 61, .20);
    color: #fff;
}

.btn-color,
.btn-color:hover,
.btn-color:focus,
.btn-color:active {
    color: #fff;
    background: #ff7b00;
    background: -moz-linear-gradient(top, #E8930C 0%, #ff7b00 0%, #E8930C 0%, #ff7b00 100%);
    background: -webkit-linear-gradient(top, #E8930C 0%, #ff7b00 0%, #E8930C 0%, #ff7b00 100%);
    background: linear-gradient(to bottom, #E8930C 0%, #ff7b00 0%, #E8930C 0%, #ff7b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8930C', endColorstr='#ff7b00', GradientType=0);
}

.btn-white,
.btn-white:hover,
.btn-white:focus,
.btn-white:active {
    background-color: #fff;
    color: #ff7b00;
}

/*----------------------------------------
Preloader page
----------------------------------------*/

#loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: #ffffff;
}

#loading-center-page {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: -75px;
}

.loader {
    width: 56px;
    height: 56px;
    border: 8px solid rgba(171, 130, 253, 0.25);
    border-top-color: #ff7b00;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
    top: 50%;
    margin: -28px auto 0 auto;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*----------------------------------------
Navigation
----------------------------------------*/

.navbar-brand {
    float: left;
    margin-left: 0 !important;
    padding: 0 30px 0 0;

}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 5px 5px 4px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    /* font-family: 'Hk_Groteskregular', sans-serif; */
    font-family: 'Dosis', sans-serif;
}

.navbar-default .navbar-right > li + li {
    margin-left: 20px;
}

.navbar-right {
    margin-right: 0;
}

.navbar-default {
    padding: 20px 15px;
    background-color: transparent;
    border-color: transparent;
    -webkit-transition: all .5s ease .25s;
    transition: all .5s ease .25s;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a {
    background-color: transparent !important;
    color: #eeeeeeb3;

}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active:hover > a {
    background-color: transparent;
    color: white;
}

.navbar-default .navbar-collapse .navbar-nav > li:first-child {
    margin-left: 0;
}

.navbar-collapse .navbar-right > li > a:focus {
    outline: none;
    background-color: transparent;
    color: white;
}

.navbar-default .navbar-nav > li > a.active-link {
    color: #fff;
}

header .navbar-default li.btn-login {
    margin-left: 80px;
    margin-top: 5px;
}

.navbar-default li.btn-login a {
    font-size: 16px;
    line-height: 17px;
    padding: 12px 35px;
    color: #ff7b00 !important;
    background-color: #fff;
    box-shadow: 0 10px 35px 2px rgba(61, 61, 61, .2);
    border-radius: 45px;
    display: inline-block;
    transition: all 0.2s linear;
}

header .navbar-default li.btn-login a:hover,
.navbar-default li.btn-login a:focus {
    background-color: #fff;
    color: #ff7b00;
    box-shadow: 0 5px 25px 1px rgba(61, 61, 61, .2);
}

.affix {
    z-index: 999;
    border: none;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .15);
    padding-top: 10px;
    padding-bottom: 10px;
}

.affix .navbar-nav > .active > a,
.affix .navbar-nav > li > a:hover,
.affix .navbar-nav > .active:hover > a {
    color: #eee !important;
}

.affix .navbar-nav li a {
    color: #fff;
    line-height: 35px;
}

.affix li.btn-login a {
    line-height: 17px;
    color: #ff7b00;
}

.affix {
    background: #ff7b00;
    background: -moz-linear-gradient(top, #E8930C 0%, #ff7b00 0%, #E8930C 0%, #ff7b00 100%);
    background: -webkit-linear-gradient(top, #E8930C 0%, #ff7b00 0%, #E8930C 0%, #ff7b00 100%);
    background: linear-gradient(to bottom, #E8930C 0%, #ff7b00 0%, #E8930C 0%, #ff7b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8930C', endColorstr='#ff7b00', GradientType=0);
}

.affix .dropdown ul li a {
    color: #181b3a;
}

.navbar-default li ul {
    display: block !important;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 100%;
    padding: 10px 0;
    width: 200px;
    z-index: 100;
    display: none;
    /* padding: 0px 0px; */
    background: #ffffff;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.navbar-default li ul li {
    position: relative;
    width: 100%;
}

.navbar-default li ul li a {
    position: relative;
    display: block;
    padding: 5px 20px;
    line-height: 22px !important;
    font-weight: 500;
    font-size: 14px;
    color: #637282;
    text-align: left;
    text-transform: capitalize;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.navbar-default li ul li a:hover,
.navbar-default li ul li a:focus,
.navbar-default li ul li a:active {
    color: #ff7b00;
}

.navbar-default li.dropdown:hover > ul {
    visibility: visible;
    opacity: 1;
    top: 90%;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

/*----------------------------------------
Hero
----------------------------------------*/

.section-hero {
    height: 100vh;
    -webkit-clip-path: ellipse(100% 80% at 75% 20%);
    clip-path: ellipse(100% 80% at 70% 20%);
    padding-top: 80px;
    position: relative;
    padding-bottom: 80px;
    color: #fff;
}


.section-hero-inner .container {
    height: 100%;
}

.hero-text {
    padding: 95px 0 75px 0;
}

.section-hero-content .hero-text h1 {
    font-size: 50px;
    margin: 0 0 8px;
    font-weight: 600;
    color: #fff;
    line-height: 60px;
}

.hero-text p {
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.arrow-down-btn a {
    font-size: 35px;
    color: #fff;
}

.content-col-inner {
    position: relative;
    float: right;
    width: 100%;
    max-width: 430px;
}

.content-col-image {
    position: absolute;
    float: left;
    max-width: 100%;
    top: -20px;
    padding-top: 20px;
    right: -150px;
}

a.video-btn {
    margin-left: 15px;
    position: relative;
}

.video-btn i {
    font-size: 35px;
    position: absolute;
    background: #ff7b00;
    color: #fff;
    margin-right: 5px;
    border-radius: 50%;
    left: 10px;
    top: 6px;
}

.video-btn span {
    display: block;
    position: relative;
    left: 8px;
}

/*----------------------------------------
About
----------------------------------------*/

#about-app,
#testimonials {
    background-color: #fff1e5;
}

#blanco {
    background-color: #fff;
}


.section-about {
    padding: 80px 0 80px 0;
}

.col-image {
    position: relative;
    float: left;
    width: 50%;
    margin: 128px 20px 128px 20px;
}
.col-image3 {
    position: relative;
    float: left;
    width: 40%;
    margin-left: 100px;
}
.text-col {
    position: relative;
    float: right;
    width: 30%;
    margin-right: 15%;
    margin-top:8%;
}
.text-col3 {
    position: relative;
    float: right;
    width: 30%;
    margin-right: 15%;
    margin-top:15%;
}
.col-image2 {
    position: relative;
    float: left;
    width: 40%;
    margin: 128px 20px 128px 20px;
}

.text-col2 {
    position: relative;
    float: right;
    width: 50%;
}


.text-col1 {
    position: relative;
    float: left;
    width: 30%;
    margin-left: 15%;
    margin-top:8%;
    
}

.col-image-inner {
    position: relative;
    float: left;
    max-width: 100%;
    left: -70px;

}

.text-col-inner {
    position: relative;
    max-width: 560px;
    padding: 50px 0 50px 15px;
}

.section-padd {
    padding: 80px 0;
}

.about-text h2,
.text-content h2,
.text-content-features h2 {
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 45px;
    color: #181b3a;
    font-weight: 600;
}

.about-text p,
.text-content p,
.icon-block p,
.text-content-features p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;
    color: #637282;
}

.icon-block {
    border-top: 4px solid transparent;
    padding: 40px;
    text-align: center;
}

.icon-block:hover,
.icon-block:focus {
    border-top: 4px solid #ff7b00;
    padding: 40px;
    box-shadow: 0 10px 35px 2px rgba(61, 61, 61, .20);
    border-radius: 15px;
    background-color: white;
}

.icon-block h3 {
    color: #181b3a;
    font-size: 22px;
    margin-bottom: 15px;
}

.icon-block i {
    font-size: 40px;
    line-height: 45px;
    color: #ff7b00;
}

#about-app {
    position: relative;
}

.text-content {
    padding-top: 30px;
}

/*----------------------------------------
Features
----------------------------------------*/

#features {
    position: relative;
}

.feature-col-left {
    position: relative;
    float: left;
    width: 50%;
}

.feature-col-inner {
    position: relative;
    float: right;
    width: 100%;
    max-width: 560px;
}

.features-warpper {
    padding-bottom: 300px;
}

.feature-col-right .col-image-inner {
    position: relative;
    float: left;
    max-width: 100%;
    padding-top: 20px;
    right: -150px;
    position: relative;
    float: right;
    max-width: 100%;
    padding-top: 0;
    top: 0px;
    right: -0px;
    left: auto;
}

.feature-inner-right {
    position: relative;
}


.list-block {
    margin-top: 10px;
    margin-bottom: 30px;
}

.list-block li {
    padding-left: 15px;
    position: relative;
    font-size: 16px;
    line-height: 35px;
    color: #7d7f92;
    font-weight: 600;
}

.list-block li:before {
    font-family: 'ElegantIcons';
    content: "\4e";
    position: absolute;
    left: -8px;
    top: 10px;
    color: #ff7b00;
    display: inline-block;
    background-color: #e1d3ff;
    width: 18px;
    line-height: 18px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}



.feature-block img {
    width: 55px;
    height: auto;
}

.feature-block h3 {
    color: #fff;
    font-weight: 700;
    font-size: 52px;
    line-height: 60px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.feature-block p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;
    text-align: center;
    margin-bottom: 20px;
    color: #637282;
}

.feature-block a {
    font-size: 20px;
    color: #ff7b00;
}

.feature-block a i {
    position: relative;
    top: 4px;
}

#features h2,
#features h3,
#features p {
    color: #fff;
}

.feature-block {
    position: relative;
    text-align: center;
}

.feature-block i {
    color: #fff;
    font-size: 45px;
}

.feature-bottom-img {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/*----------------------------------------
Features accordation
----------------------------------------*/

#features-acord .text-col-inner {
    padding: 0px 0 0 15px;
}

#features-acord .text-col-inner .text-content {
    padding-top: 0;
}

.tab-accordion .panel-heading a[aria-expanded="true"] {
    background-color: #fff;
    color: #E8930C;
    box-shadow: 0 7px 15px rgba(0, 9, 128, 0.05), 0 12px 28px rgba(0, 9, 128, 0.075);
}

.tab-accordion .panel-heading a:hover,
.tab-accordion .panel-heading a:focus {
    color: #E8930C;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .15);
    background-color: #fff;
}

.tab-accordion .panel-heading {
    padding: 0;
}

.tab-accordion .panel-heading a .icon-accordion {
    position: absolute;
    right: 15px;
    line-height: 25px;
}

#features-acord .panel-group.tab-accordion .panel-body {
    border-top: none;
}

.tab-accordion .panel-heading a {
    display: block;
    text-decoration: none;
    position: relative;
    padding: 15px;
    font-size: 18px;
    border-radius: 4px;
    background-color: #fff;
}

.tab-accordion {
    margin-top: 40px;
}

#features-acord .tab-accordion .panel {
    margin-top: 12px;
    box-shadow: none;
    background-color: transparent;
}

.tab-accordion .panel-body p {
    font-weight: 500;
    font-size: 18px;
    color: #7d7f92;
}

#features-acord h2 {
    margin-bottom: 15px;
}

#features-acord h3 {
    margin-top: 0;
    font-weight: 300;
}

/*----------------------------------------
Testmonials
----------------------------------------*/

.testimonial-block .text-col {
    position: relative;
    float: right;
    width: 100%;
    max-width: 560px;
}

.testimonial-block {
    padding: 80px 0;
    position: relative;
}

.testimonial-item h3 {
    color: #181b3a;
    font-weight: 800;
    font-size: 22px;
    margin-bottom: 40px;
}

.testimonial-caroussel.owl-theme .owl-dots .owl-dot.active span {
    width: 15px;
    height: 15px;
    background: #ff7b00;
    margin: 3px 7px;
}


.quote img {
    width: 70px;
    height: auto;
}

.bottom-text-item p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.68;
    text-align: left;
    margin-bottom: 20px;
    color: #637282;
}

.testimonial-block .owl-dots {
    text-align: left;
}

.testimonial-block .text-col-inner {
    padding: 40px 0 50px 15px;
}

.testimonial-block .col-image-inner {
    width: 50%;
    position: absolute;
    top: -80px;
    right: 0;
}

/*----------------------------------------
Pricing
----------------------------------------*/

.table-price .column-item {
    display: inline-block;
    vertical-align: top;
}

.table-plan h3 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #344154;
}

.content-plan ul {
    margin-top: 25px;
}

.content-plan ul li {
    color: #637282;
    display: block;
    font-size: 18px;
    font-weight: 300;
    line-height: 42px;
}

.table-inner {
    min-height: 450px;
    padding: 30px 40px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 9px 16px 0 rgba(224, 229, 238, .5);
    box-shadow: 0 9px 16px 0 rgba(224, 229, 238, .5);
    border: solid 1px #e5eaed;
    position: relative;
    padding: 30px 50px;

}

.content-plan sup {
    font-size: 19px;
    letter-spacing: -0.9px;
    text-align: center;
    color: #ff7b00;
    top: -1em;
}

.content-plan strong {
    font-size: 65px;
    letter-spacing: -2px;
    text-align: center;
    color: #ff7b00;
}

.content-plan sub {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;
    color: #637282
}

.price-content-btn {
    padding-bottom: 45px;
    padding-top: 45px;
    border-bottom: 1px solid #e5eaed;
}

.table-plan {
    padding-bottom: 50px;
}

.table-price .active .table-inner {
    border: none;
    box-shadow: 0 10px 35px 2px rgba(61, 61, 61, .20);
    border-top: 4px solid #ff7b00;
}

/*----------------------------------------
Footer
----------------------------------------*/

.footer {
    position: relative;
    background: #2e303c;
}

.footer-warpper {
    padding-top: 50px;
}

.footer-top-content h1 {
    font-size: 50px;
    color: #fff;
    line-height: 60px;

}

.btn.btn-facebook:hover,
.btn.btn-facebook:focus,
.btn.btn-facebook:active {
    color: white;
    background-color: #3b5998;
    border-color: #3b5998;
}

.btn.btn-twitter:hover,
.btn.btn-twitter:focus,
.btn.btn-twitter:active {
    color: white;
    background-color: #55acee;
    border-color: #55acee;
}

.btn.btn-google-plus:hover,
.btn.btn-google-plus:focus,
.btn.btn-google-plus:hover {

    color: white;
    background-color: #dd4b39;
    border-color: #dd4b39;
}

.btn.btn-instgram:hover,
.btn.btn-instgram:focus,
.btn.btn-instgram:hover {

    color: white;
    background-color: #9b6954;
    border-color: #9b6954;
}

.subscribe-form {
    margin-top: 50px;
}

.list-social {
    padding-top: 15px;
}

.list-social a {
    background-color: #fff;
    width: 40px;
    color: #ff7b00;
    line-height: 40px;
    font-size: 16px;
    padding: 0;
    border-radius: 100%;
    height: 40px;
}

.list-social a i {
    line-height: 40px;
}

.subscribe-form .form-control {
    outline: none;
    width: 55%;
    float: left;
    height: 55px;
    padding: 0 15px 0 15px;
    box-shadow: none;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -wbekit-border-radius: 25px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
    background-color: #282832;
    border: 1px solid #282832;
}

.subscribe-form .btn-subscribe {
    position: relative;
    left: -50px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -wbekit-border-radius: 25px;
    height: 55px;
    padding: 0 15px 0 15px;
    color: #fff;
    background: #ff7b00;
    background: -moz-linear-gradient(top, #E8930C 0%, #ff7b00 0%, #E8930C 0%, #ff7b00 100%);
    background: -webkit-linear-gradient(top, #E8930C 0%, #ff7b00 0%, #E8930C 0%, #ff7b00 100%);
    background: linear-gradient(to bottom, #E8930C 0%, #ff7b00 0%, #E8930C 0%, #ff7b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8930C', endColorstr='#ff7b00', GradientType=0);
}

.btn-subscribe:hover,
.btn-subscribe:focus,
.btn-subscribe:active {
    background: #ff7b00;
    background: -moz-linear-gradient(top, #E8930C 0%, #ff7b00 0%, #E8930C 0%, #ff7b00 100%);
    background: -webkit-linear-gradient(top, #E8930C 0%, #ff7b00 0%, #E8930C 0%, #ff7b00 100%);
    background: linear-gradient(to bottom, #E8930C 0%, #ff7b00 0%, #E8930C 0%, #ff7b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8930C', endColorstr='#ff7b00', GradientType=0);
}

#scrollUp {
    background: #ff7b00;
    background: -moz-linear-gradient(top, #E8930C 0%, #ff7b00 0%, #E8930C 0%, #ff7b00 100%);
    background: -webkit-linear-gradient(top, #E8930C 0%, #ff7b00 0%, #E8930C 0%, #ff7b00 100%);
    background: linear-gradient(to bottom, #E8930C 0%, #ff7b00 0%, #E8930C 0%, #ff7b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8930C', endColorstr='#ff7b00', GradientType=0);
    border-radius: 100%;
    bottom: 30px;
    color: #ffffff;
    height: 45px;
    font-size: 22px;
    line-height: 3;
    right: 30px;
    line-height: 45px;
    text-decoration: none;
    text-align: center;
    width: 45px;
}

.footer-bottom-content {
    padding-top: 60px;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.4);

}

.text-footer {
    max-width: 250px;
    padding-top: 15px;
}

.text-footer p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.60;
}

.footer-bottom-content h5 {
    position: relative;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;

}

.footer-bottom-content .list-menu {
    position: relative;
}

.footer-bottom-content .list-menu li {
    position: relative;
    margin-bottom: 10px;
}

.footer-bottom-content .list-menu li a {
    position: relative;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.footer-bottom {
    padding-top: 12px;
    padding-bottom: 12px;
}

.copyright {
    text-align: center;
}

.copyright p {
    margin: 0px auto;
    padding: 0px;
    color: #848484;
    font-size: 14px;
}


footer p.error-message {
    color: #e10438;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer p.sucess-message {
    color: #4ec952;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-inner span {
    line-height: 45px;
    font-size: 13px;

}

/*----------------------------------------
Modal
----------------------------------------*/

.modal-backdrop {
    background: rgba(20, 31, 114, 0.6);
}

.login-modal .modal-dialog {

    position: relative;
    float: left;
    width: 460px;
    z-index: 1;
    left: 50%;
    margin-left: -230px;
    margin-top: 140px;
    margin-bottom: 60px;
    text-align: center;
}

.login-modal .modal-content {
    box-shadow: none;
    background: #ffffff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding: 20px 60px 40px 60px;
}

.login-modal .modal-header {
    padding: 0;
    border-bottom: none;
}

.login-modal .modal-header h3 {
    color: #181b3a;
    font-size: 22px;
    margin-bottom: 5px;
}

.login-modal .modal-header p {
    font-size: 18px;
    font-weight: 300;
    color: #637282;
}

.login-modal button.close {
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    width: 50px;
    height: 50px;
    margin: 0 auto;
    float: none;
    left: 50%;
    opacity: 1;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    font-size: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ff7b00;
}

.login-modal .form-group input[type="email"],
.login-modal .form-group input[type="password"] {
    width: 100%;
    position: relative;
    margin-bottom: 19px;
    border: 1px solid #e8ecec;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow: none;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background: no-repeat;
    height: 45px;
    font-size: 13px;
    line-height: 45px;
    color: #474747;
}

.login-modal .form-group {
    position: relative;
    margin-top: 15px;
}

.login-modal .form-group i {
    position: absolute;
    right: 0;
    top: 12px;
    line-height: 19px;
    right: 15px;
    font-size: 19px;
    color: #ff7b00;
}

.login-modal .modal-footer {
    border-top: none;
}

.login-modal .modal-footer .btn {
    width: 100%;
}

.login-modal p.remember {
    float: left;
    margin: 0;
    font-size: 13px;

}

.login-modal p.remember input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
    margin: 0;
}

.login-modal p.remember label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 32px;
    margin-right: 10px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.login-modal a {
    float: right;
    font-size: 13px;
    text-decoration: underline;
    line-height: 30px;
    color: #ff7b00;
}

.login-modal label::before {
    content: " ";
    border: 2px solid #e6e7ef;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.login-modal label::before,
.login-modal label::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px !important;
    height: 20px !important;
}

.login-modal input[type="checkbox"]:checked + label::before {
    background: #ffffff;
    border-color: #e6e7ef;
}

.login-modal input[type="checkbox"] + label::after {
    font-family: 'ElegantIcons';
    content: "\4e";
    color: #ff7b00;
    line-height: 1.5;
    text-align: center;
    border: none !important;
}

.login-modal input[type="checkbox"]:checked + label::before {
    background: #ffffff;
    border-color: #e6e7ef;
}

.login-modal input[type="checkbox"] + label::after {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.login-modal input[type="checkbox"]:checked + label::after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.login-modal label::before,
.login-modal label::after {
    -webkit-transition: .25s all ease;
    -moz-transition: .25s all ease;
    -ms-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

/*----------------------------------------
Blog
----------------------------------------*/

.blog-header.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.blog-header.navbar-default .navbar-nav > li > a:hover,
.blog-header.navbar-default .navbar-nav li.active a,
.blog-header.navbar-default .navbar-nav > li > a:focus {
    color: #eee9;
}

.blog-content,
.right-sidbar-blog,
.left-sidbar-blog {
    padding-bottom: 80px;
    padding-top: 80px;
}

.search {
    background-color: #f4f1ff;
    border: none;
    border-radius: 60px;
    max-width: 100%;
    width: 300px;
    padding: 0;
    margin: 20px auto 0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.search input {
    background-color: #f4f1ff;
    border: none !important;
    outline: none !important;
    padding: 10px 20px;
    float: left;
    border-radius: 60px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 80%;
    font-size: 16px;
    color: #71818c;

}

.search button {
    width: auto;
    padding: 10px 20px;
    border: none !important;
    outline: none !important;
    background: none;
    float: right;
    color: #ff7b00;
}

.section-title-inner h1 {
    font-size: 55px;
    margin-bottom: 25px;
    line-height: 65px;
    color: #fff;
    font-weight: 600;
    text-transform: none;
}

.section-title-inner p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;
    color: #fff;
}

.section-title-blog.section-padd {
    padding: 100px 0 100px 0;
}

.post-full-wdith .bottom-info-blog {
    margin-top: 15px;
    border-top: 1px solid #eee;
    padding-top: 15px;
}

.post-full-wdith .info-blog h3 a {
    font-size: 25px;
}

.post-full-wdith .info-blog h3 {
    margin-bottom: 20px;
}

.post-full-wdith .info-blog p {
    line-height: 1.67;
}

.bottom-info-blog .avatar-blog img {
    width: 35px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.blog-card .info-blog h3 a,
.bottom-info-blog .avatar-blog span {
    color: #181b3a;
}

.blog-card .info-blog p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
    color: #637282;
}

.bottom-info-blog .avatar-blog {
    float: left;
}

.bottom-info-blog .date {
    float: right;
}

.bottom-info-blog .date span {
    font-size: 12px;
}

.blog-card {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 1px solid #efefef;
    -o-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.blog-card:hover,
.blog-card:focus {
    -webkit-box-shadow: 0 10px 30px 0 rgba(220, 220, 220, 0.8);
    -moz-box-shadow: 0 10px 30px 0 rgba(220, 220, 220, 0.8);
    -ms-box-shadow: 0 10px 30px 0 rgba(220, 220, 220, 0.8);
    -o-box-shadow: 0 10px 30px 0 rgba(220, 220, 220, 0.8);
    box-shadow: 0 10px 30px 0 rgba(220, 220, 220, 0.8);
    transform: translateY(-0.25em);
}

.blog-card img {
    -o-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.blog-card .info-blog {
    padding: 15px;
}

.info-blog h3 {
    margin-top: 0;
}

.info-blog h3 a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #222;
    margin-bottom: 20px;
}

.blog-top-img {
    position: relative;
}

.pagination-page {
    position: relative;
    text-align: center;
}

.pagination-page .pagination > li > a,
.pagination-page .pagination > li > span {
    color: #ff7b00;
}

.pagination-page .pagination > .active > a {
    background: #ff7b00;
    border-color: #ff7b00;
    color: #fff;
}

.right-sidbar-blog .search,
.left-sidbar-blog .search {
    width: 100%;
    margin: 0 auto 0 auto;
}

.sidebar-side h3 {
    color: #181b3a;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 700;
}

.sidebar-post-inner {
    margin-bottom: 15px;
}

.sidebar-post-inner a {
    position: relative;
    display: block;
}

.sidebar-post-inner img {
    width: 70px;
    height: auto;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
}

.post-summary {
    display: inline-block;
    overflow: hidden;
    padding-left: 10px;
}

.post-summary span {
    display: block;
    color: #181b3a;
    font-weight: 500;
    line-height: 20px;
    font-size: 16px;
}

.post-summary small {
    font-size: 12px;
    color: #637282;
}

.sidebar-categroies .catgeorie-list {
    position: relative;
}

.sidebar-categroies .catgeorie-list li {
    position: relative;
    line-height: 24px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.sidebar-categroies .catgeorie-list li:last-child {
    border-bottom: none;
}

.sidebar-categroies .catgeorie-list li a {
    color: #23527c;
    display: block;
}

.sidebar-search,
.sidebar-categroies,
.sidebar-post {
    margin-bottom: 50px;
}

.tags-inner a {
    position: relative;
    display: inline-block;
    margin: 0px 5px 8px 0px;
    line-height: 24px;
    padding: 8px 22px;
    background: #ffffff;
    border: 1px solid #e4e4e4;
    text-align: center;
    font-size: 14px;
    color: #637282;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

}

.tags-inner a:hover,
.tags-inner a:focus {
    border: 1px solid #8968ff;
    background: #8968ff;
    color: #fff;
}

.right-sidbar-blog .sidebar-side {
    padding-left: 30px;
}

.left-sidbar-blog .sidebar-side {
    padding-right: 30px;
}

.post-full-wdith .blog-card {
    border: none;

}

.post-full-wdith .blog-card .info-blog {
    padding: 15px 0;
}

.post-full-wdith .blog-card:hover,
.post-full-wdith .blog-card:focus {
    box-shadow: none;
    transform: none;
}

/*----------------------------------------
Signle post
----------------------------------------*/

.blog-image {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 9, 128, 0.05), 0 2px 5px rgba(0, 9, 128, 0.035);
    background-size: cover;
    background-position: center center;
}

.blog-content-inner .bottom-info-blog {
    padding: 15px 10px;
}

.quote-blog {
    margin: 35px 0;
}

.blog-text p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;
    color: #637282;
}

.quote-blog p {
    color: #181b3a;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
}

.quote-blog blockquote {
    position: relative;
    border-left: none;
    padding: 20px 30px;
}

.quote-blog blockquote span {
    color: #ff7b00;
    font-weight: 600;
}

.quote-blog blockquote i {
    font-family: 'ElegantIcons';
    content: "\7b";
    position: relative;
    color: #ff7b00;
    float: left;
    font-size: 150px;

}

.blog-share {
    margin-top: 20px;
}

.blog-share .btn {
    margin-right: 15px;
    position: relative;
    color: #fff;
    text-transform: none;
}

.blog-share .btn.btn-facebook {
    background-color: #3b5a9a;
}

.blog-share .btn.btn-twitter {
    background-color: #56adf2;
}

.blog-share .btn i {
    position: absolute;
    left: 12px;
    bottom: 15px;
    font-size: 16px;
}

.comment-blog h3 {
    font-weight: 400;
    margin-bottom: 45px;
}

.avatar-blog img {
    float: left;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 60px;
    margin-right: 15px;
}

.comment-blog-text {
    overflow: hidden;
}

.comment-blog-text span {
    display: block;
    color: #181b3a;
    font-weight: 600;
}

.comment-blog-inner p {
    margin-top: 5px;
}

.comment-blog-text a {
    color: #181b3a;
}

.comment-blog-text small {
    color: #999;
}

.comment-blog-inner {
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}

.comment-blog-inner:last-child {
    border-bottom: none;
}

.blog-reply {
    padding-left: 75px;
}

.form-comment textarea {
    box-shadow: none;
    background-color: #f5f5f5;
    border: 1px solid #d8d8d8;
}

.comment-text-form h3 {
    margin-bottom: 15px;
}

.heigth-auto{
    height: 500px;
}

.heigth-short{
    height: 150px;
}

/*----------------------------------------
Modificaciones extras
----------------------------------------*/
/* .home-svg-container{
    margin-left: 45%;
} */

#features .home-contact
{
    /* margin-top:133px;
    width:100%;
    height:511px; */
    /* background-image:url(../images/home/footerbackground.png); */
    /* background-size:cover; */
    /* display:-webkit-box; */
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    color:#fff;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    font-weight:200;
}
 
#features .container a{
margin-top: 10%;
margin-bottom:13%; 
}
.main-hero.media-party{padding-top:100px}.main-hero.media-party .row{-webkit-box-align:center;-ms-flex-align:center;align-items:center}@media (max-width:991px){.main-hero.media-party .custom-column{margin:30px 0 0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}}.main-hero.media-party .illustration-svg{width:758px;height:987px;overflow:visible!important}@media (max-width:767px){.main-hero.media-party .illustration-svg{width:100%;height:500px}}.main-hero.media-party .main-hero-title:after{background-color:#4dd8d6}.media-party-cellphone-bounce,.media-party-screen-bounce{-webkit-transform:translateY(-10px);transform:translateY(-10px);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-animation:mb 1s linear infinite;animation:mb 1s linear infinite}.media-party-screen-bounce{-webkit-animation:mb 2s linear infinite;animation:mb 2s linear infinite}.media-party-half-circle-rotate{-webkit-animation:nb 10s linear infinite;animation:nb 10s linear infinite;-webkit-transform-origin:center;transform-origin:center}.media-party-half-circle-rotate.reverse{-webkit-animation:ob 10s linear infinite;animation:ob 10s linear infinite}.media-party-circle-pulse{-webkit-animation:pb 5s linear infinite;animation:pb 5s linear infinite}.media-party-circle-pulse,.media-party-textbox-flip{-webkit-transform-origin:center;transform-origin:center}.media-party-textbox-flip{-webkit-animation:qb 2s linear infinite;animation:qb 2s linear infinite}.media-party-text-bounce{-webkit-animation:Ub 2s linear infinite;animation:Ub 2s linear infinite}.media-party-paper-bounce,.media-party-text-bounce{-webkit-transform-origin:center;transform-origin:center}.media-party-paper-bounce{-webkit-animation:Ub 6s linear infinite;animation:Ub 6s linear infinite}@-webkit-keyframes mb{0%{-webkit-transform:translateY(-10px);transform:translateY(-10px);-webkit-backface-visibility:hidden;backface-visibility:hidden}50%{-webkit-transform:translateY(10px);transform:translateY(10px);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@keyframes mb{0%{-webkit-transform:translateY(-10px);transform:translateY(-10px);-webkit-backface-visibility:hidden;backface-visibility:hidden}50%{-webkit-transform:translateY(10px);transform:translateY(10px);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@-webkit-keyframes nb{0%{-webkit-transform:rotate(0);transform:rotate(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:rotate(1turn);transform:rotate(1turn);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@keyframes nb{0%{-webkit-transform:rotate(0);transform:rotate(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:rotate(1turn);transform:rotate(1turn);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@-webkit-keyframes ob{0%{-webkit-transform:rotate(0);transform:rotate(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:rotate(-1turn);transform:rotate(-1turn);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@keyframes ob{0%{-webkit-transform:rotate(0);transform:rotate(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:rotate(-1turn);transform:rotate(-1turn);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@-webkit-keyframes pb{0%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-backface-visibility:hidden;backface-visibility:hidden}50%{-webkit-transform:scale3d(1.33,1.33,1.33);transform:scale3d(1.33,1.33,1.33);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@keyframes pb{0%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-backface-visibility:hidden;backface-visibility:hidden}50%{-webkit-transform:scale3d(1.33,1.33,1.33);transform:scale3d(1.33,1.33,1.33);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@-webkit-keyframes qb{0%{-webkit-transform:skew(0,0);transform:skew(0,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}5%{-webkit-transform:skew(10deg,0);transform:skew(10deg,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}15%{-webkit-transform:skew(-10deg,0);transform:skew(-10deg,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}30%{-webkit-transform:skew(0,0);transform:skew(0,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@keyframes qb{0%{-webkit-transform:skew(0,0);transform:skew(0,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}5%{-webkit-transform:skew(10deg,0);transform:skew(10deg,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}15%{-webkit-transform:skew(-10deg,0);transform:skew(-10deg,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}30%{-webkit-transform:skew(0,0);transform:skew(0,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}.media-party-concepts-item-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap}.media-party-concepts-item-wrapper.custom-animated .book-cover-stroke,.media-party-concepts-item-wrapper.custom-animated .text-buble-stroke{-webkit-animation:Hb 1.2s linear forwards;animation:Hb 1.2s linear forwards}.media-party-concepts-item-wrapper.custom-animated .book-line-stroke,.media-party-concepts-item-wrapper.custom-animated .text-buble-line-stroke{-webkit-animation:Hb 1s linear forwards;animation:Hb 1s linear forwards}.media-party-concepts-item-wrapper.custom-animated .connect-circle,.media-party-concepts-item-wrapper.custom-animated .out-circle{-webkit-animation:Hb 1s linear forwards .5s;animation:Hb 1s linear forwards .5s}.media-party-concepts-item-wrapper.custom-animated .connect-line-dasharray-stroke,.media-party-concepts-item-wrapper.custom-animated .connect-line-stroke{-webkit-animation:Hb 1s linear forwards;animation:Hb 1s linear forwards}.media-party-concepts-item-wrapper.custom-animated .out-square{-webkit-transform:translate3d(-8px,7px,0);transform:translate3d(-8px,7px,0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-animation:rb 1s linear forwards;animation:rb 1s linear forwards}.media-party-concepts-item-wrapper.custom-animated .out-circle.big{-webkit-animation:Hb 1s linear forwards;animation:Hb 1s linear forwards}.media-party-concepts-item-wrapper.custom-animated .out-square-stroke{-webkit-animation:Hb 1.2s linear forwards;animation:Hb 1.2s linear forwards}.media-party-concepts-item-wrapper.custom-animated .simultaneous-item.item-1{-webkit-animation:sb 1s linear forwards;animation:sb 1s linear forwards}.media-party-concepts-item-wrapper.custom-animated .simultaneous-item.item-2{-webkit-animation:tb 1s linear forwards;animation:tb 1s linear forwards}.media-party-concepts-item-wrapper.custom-animated .simultaneous-item.item-3{-webkit-animation:ub 1s linear forwards;animation:ub 1s linear forwards}.media-party-concepts-item-wrapper.custom-animated .festive-item.item-1{-webkit-animation:vb 1s linear forwards;animation:vb 1s linear forwards}.media-party-concepts-item-wrapper.custom-animated .festive-item.item-2{-webkit-animation:wb 1s linear forwards;animation:wb 1s linear forwards}.media-party-concepts-item-wrapper.custom-animated .festive-item.item-3{-webkit-animation:xb 1s linear forwards;animation:xb 1s linear forwards}.media-party-concepts-item-wrapper.custom-animated .festive-item.item-4{-webkit-animation:yb 1s linear forwards;animation:yb 1s linear forwards}.media-party-concepts-item-wrapper.custom-animated .festive-item.item-5{-webkit-animation:zb 1s linear forwards;animation:zb 1s linear forwards}.media-party-concepts-item-wrapper.custom-animated .festive-item.item-6{-webkit-animation:Ab 1s linear forwards;animation:Ab 1s linear forwards}.media-party-concepts-item-wrapper.custom-animated .festive-item.item-7{-webkit-animation:Bb 1s linear forwards;animation:Bb 1s linear forwards}.media-party-concepts-item-wrapper.custom-animated .festive-item.item-8{-webkit-animation:Cb 1s linear forwards;animation:Cb 1s linear forwards}.media-party-concepts-item-wrapper.custom-animated .festive-item.item-9{-webkit-animation:Db 1s linear forwards;animation:Db 1s linear forwards}.media-party-concepts-item{width:16.66%;text-align:center;-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}@media (min-width:768px) and (max-width:991px){.media-party-concepts-item{width:33.33%}}@media (max-width:767px){.media-party-concepts-item{width:50%}}@media (max-width:991px){.media-party-concepts-item{margin-bottom:30px}}.media-party-concepts-item>svg{overflow:visible}.media-party-concepts .book-cover-stroke,.media-party-concepts .text-buble-stroke{stroke-dasharray:300;stroke-dashoffset:300}.media-party-concepts .book-line-stroke,.media-party-concepts .text-buble-line-stroke{stroke-dasharray:30;stroke-dashoffset:30}.media-party-concepts .connect-circle,.media-party-concepts .out-circle{stroke-dasharray:50;stroke-dashoffset:50}.media-party-concepts .connect-line-stroke{stroke-dasharray:90;stroke-dashoffset:90}.media-party-concepts .connect-line-dasharray-stroke{stroke-dashoffset:50}.media-party-concepts .out-square{-webkit-transform:translate3d(-8px,7px,0);transform:translate3d(-8px,7px,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}.media-party-concepts .out-circle.big{stroke-dasharray:150;stroke-dashoffset:150}.media-party-concepts .out-square-stroke{stroke-dasharray:350;stroke-dashoffset:350}.media-party-concepts .simultaneous-item.item-1{-webkit-transform:translate3d(-50%,50%,0);transform:translate3d(-50%,50%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}.media-party-concepts .simultaneous-item.item-2{-webkit-transform:translate3d(-50%,-50%,0);transform:translate3d(-50%,-50%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}.media-party-concepts .simultaneous-item.item-3{-webkit-transform:translate3d(50%,-50%,0);transform:translate3d(50%,-50%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}.media-party-concepts .festive-item.item-1{-webkit-transform:translate3d(-370%,270%,0);transform:translate3d(-370%,270%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}.media-party-concepts .festive-item.item-2{-webkit-transform:translate3d(-386%,-270%,0);transform:translate3d(-386%,-270%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}.media-party-concepts .festive-item.item-3{-webkit-transform:translate3d(410%,-260%,0);transform:translate3d(410%,-260%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}.media-party-concepts .festive-item.item-4{-webkit-transform:translate3d(355%,-274%,0);transform:translate3d(355%,-274%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}.media-party-concepts .festive-item.item-5{-webkit-transform:translate3d(265%,387%,0);transform:translate3d(265%,387%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}.media-party-concepts .festive-item.item-6{-webkit-transform:translate3d(-233%,215%,0);transform:translate3d(-233%,215%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}
.media-party-concepts .festive-item.item-7{-webkit-transform:translate3d(-367%,288%,0);transform:translate3d(-367%,288%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}.media-party-concepts .festive-item.item-8{-webkit-transform:translate3d(-477%,289%,0);transform:translate3d(-477%,289%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}.media-party-concepts .festive-item.item-9{-webkit-transform:translate3d(395%,398%,0);transform:translate3d(395%,398%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}@-webkit-keyframes rb{0%{-webkit-transform:translate3d(-8px,7px,0);transform:translate3d(-8px,7px,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@keyframes rb{0%{-webkit-transform:translate3d(-8px,7px,0);transform:translate3d(-8px,7px,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@-webkit-keyframes sb{0%{-webkit-transform:translate3d(-50%,50%,0);transform:translate3d(-50%,50%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@keyframes sb{0%{-webkit-transform:translate3d(-50%,50%,0);transform:translate3d(-50%,50%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@-webkit-keyframes tb{0%{-webkit-transform:translate3d(-50%,-50%,0);transform:translate3d(-50%,-50%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@keyframes tb{0%{-webkit-transform:translate3d(-50%,-50%,0);transform:translate3d(-50%,-50%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@-webkit-keyframes ub{0%{-webkit-transform:translate3d(50%,-50%,0);transform:translate3d(50%,-50%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@keyframes ub{0%{-webkit-transform:translate3d(50%,-50%,0);transform:translate3d(50%,-50%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@-webkit-keyframes vb{0%{-webkit-transform:translate3d(-370%,270%,0);transform:translate3d(-370%,270%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@keyframes vb{0%{-webkit-transform:translate3d(-370%,270%,0);transform:translate3d(-370%,270%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@-webkit-keyframes wb{0%{-webkit-transform:translate3d(-386%,-270%,0);transform:translate3d(-386%,-270%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@keyframes wb{0%{-webkit-transform:translate3d(-386%,-270%,0);transform:translate3d(-386%,-270%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@-webkit-keyframes xb{0%{-webkit-transform:translate3d(410%,-260%,0);transform:translate3d(410%,-260%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@keyframes xb{0%{-webkit-transform:translate3d(410%,-260%,0);transform:translate3d(410%,-260%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@-webkit-keyframes yb{0%{-webkit-transform:translate3d(355%,-274%,0);transform:translate3d(355%,-274%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@keyframes yb{0%{-webkit-transform:translate3d(355%,-274%,0);transform:translate3d(355%,-274%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@-webkit-keyframes zb{0%{-webkit-transform:translate3d(265%,387%,0);transform:translate3d(265%,387%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@keyframes zb{0%{-webkit-transform:translate3d(265%,387%,0);transform:translate3d(265%,387%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@-webkit-keyframes Ab{0%{-webkit-transform:translate3d(-233%,215%,0);transform:translate3d(-233%,215%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@keyframes Ab{0%{-webkit-transform:translate3d(-233%,215%,0);transform:translate3d(-233%,215%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@-webkit-keyframes Bb{0%{-webkit-transform:translate3d(-367%,288%,0);transform:translate3d(-367%,288%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@keyframes Bb{0%{-webkit-transform:translate3d(-367%,288%,0);transform:translate3d(-367%,288%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@-webkit-keyframes Cb{0%{-webkit-transform:translate3d(-477%,289%,0);transform:translate3d(-477%,289%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@keyframes Cb{0%{-webkit-transform:translate3d(-477%,289%,0);transform:translate3d(-477%,289%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@-webkit-keyframes Db{0%{-webkit-transform:translate3d(395%,398%,0);transform:translate3d(395%,398%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@keyframes Db{0%{-webkit-transform:translate3d(395%,398%,0);transform:translate3d(395%,398%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}to{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}@media (max-width:991px){.media-party-forms-and-colors-align-column{text-align:left;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}}@media (max-width:991px){.media-party-forms-and-colors .elements-svg{margin-bottom:60px}}@media (min-width:992px){.media-party-forms-and-colors .elements-svg{margin-right:70px}}.media-party-forms-and-colors .element-item{stroke-dasharray:90;stroke-dashoffset:90}.media-party-forms-and-colors .element-tateti{stroke-dasharray:30;stroke-dashoffset:30}.media-party-forms-and-colors .element-circles.big{stroke-dasharray:150;stroke-dashoffset:150}.media-party-forms-and-colors .element-circles.small{stroke-dasharray:100;stroke-dashoffset:100}.media-party-forms-and-colors .element-half-moon{stroke-dasharray:130;stroke-dashoffset:130}
.media-party-forms-and-colors .element-square{stroke-dasharray:250;stroke-dashoffset:250}.media-party-forms-and-colors .element-lines{stroke-dasharray:50;stroke-dashoffset:50}.media-party-forms-and-colors .element-lines-close{stroke-dasharray:40;stroke-dashoffset:40}.media-party-forms-and-colors .element-lines-circles{stroke-dasharray:40;stroke-dashoffset:40;-webkit-animation-delay:.1s!important;animation-delay:.1s!important}.media-party-forms-and-colors .color-svg{overflow:visible}@media (min-width:992px){.media-party-forms-and-colors .color-svg{margin-left:70px}}.media-party-forms-and-colors .color-item{-webkit-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden;opacity:0}.media-party-forms-and-colors .custom-animated .element-item{-webkit-animation:Hb 1.2s linear forwards;animation:Hb 1.2s linear forwards}.media-party-forms-and-colors .custom-animated .color-item{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}.media-party-forms-and-colors .custom-animated .color-item.item-1{transition:all .5s cubic-bezier(.28,1.68,.57,.83)}.media-party-forms-and-colors .custom-animated .color-item.item-2{transition:all .5s cubic-bezier(.28,1.68,.57,.83) .2s}.media-party-forms-and-colors .custom-animated .color-item.item-3{transition:all .5s cubic-bezier(.28,1.68,.57,.83) .4s}.media-party-forms-and-colors .custom-animated .color-item.item-4{transition:all .5s cubic-bezier(.28,1.68,.57,.83) .6s}.media-party-forms-and-colors .custom-animated .color-item.item-5{transition:all .5s cubic-bezier(.28,1.68,.57,.83) .8s}.media-party-logos-test-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.media-party-logos-test-item{width:33.33%;height:115px;padding:0 80px;box-sizing:border-box}@media (min-width:992px) and (max-width:1439px){.media-party-logos-test-item{padding:0 50px}}@media (min-width:768px) and (max-width:991px){.media-party-logos-test-item{padding:0 25px}}@media (max-width:767px){.media-party-logos-test-item{width:100%;height:100px;margin-bottom:50px;padding:0 25px;-webkit-animation-delay:0s!important;animation-delay:0s!important}}.media-party-logos-test-item.logo-1 .media-party-logos-test-item-background{background-image:url(../images/media-party/logos-test/logo-test-1.svg)}.media-party-logos-test-item.logo-2 .media-party-logos-test-item-background{background-image:url(../images/media-party/logos-test/logo-test-2.svg)}.media-party-logos-test-item.logo-3 .media-party-logos-test-item-background{background-image:url(../images/media-party/logos-test/logo-test-3.svg)}.media-party-logos-test-item.logo-4 .media-party-logos-test-item-background{background-image:url(../images/media-party/logos-test/logo-test-4.svg)}.media-party-logos-test-item.logo-5 .media-party-logos-test-item-background{background-image:url(../images/media-party/logos-test/logo-test-5.svg)}.media-party-logos-test-item.logo-6 .media-party-logos-test-item-background{background-image:url(../images/media-party/logos-test/logo-test-6.svg)}.media-party-logos-test-item.logo-7 .media-party-logos-test-item-background{background-image:url(../images/media-party/logos-test/logo-test-7.svg)}.media-party-logos-test-item.logo-8 .media-party-logos-test-item-background{background-image:url(../images/media-party/logos-test/logo-test-8.svg)}.media-party-logos-test-item.logo-9 .media-party-logos-test-item-background{background-image:url(../images/media-party/logos-test/logo-test-9.svg)}.media-party-logos-test-item-background{width:100%;height:100%;background-size:contain;background-repeat:no-repeat;background-position:50%}.media-party-branding-svg{overflow:visible!important;max-width:100%}@media (max-width:767px){.media-party-branding-logo-wrapper{text-align:center;margin-bottom:30px}}.media-party-branding-colors{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}@media (max-width:767px){.media-party-branding-colors{margin-bottom:20px}}.media-party-branding-colors.custom-animated .media-party-branding-colors-item{-webkit-transform:scale(1);transform:scale(1);-webkit-backface-visibility:hidden;backface-visibility:hidden}.media-party-branding-colors.custom-animated .branding-color-text-wrapper{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}.media-party-branding-colors .media-party-branding-colors-item:first-child{transition:-webkit-transform .4s linear;transition:transform .4s linear;transition:transform .4s linear,-webkit-transform .4s linear}.media-party-branding-colors .media-party-branding-colors-item:first-child .branding-color-text-wrapper{transition:all .4s linear .4s}.media-party-branding-colors .media-party-branding-colors-item:nth-child(2){transition:-webkit-transform .3s linear .4s;transition:transform .3s linear .4s;transition:transform .3s linear .4s,-webkit-transform .3s linear .4s}.media-party-branding-colors .media-party-branding-colors-item:nth-child(2) .branding-color-text-wrapper{transition:all .4s linear .7s}.media-party-branding-colors .media-party-branding-colors-item:nth-child(3){transition:-webkit-transform .1s linear .7s;transition:transform .1s linear .7s;transition:transform .1s linear .7s,-webkit-transform .1s linear .7s}.media-party-branding-colors .media-party-branding-colors-item:nth-child(3) .branding-color-text-wrapper{transition:all .4s linear .8s}.media-party-branding-colors .media-party-branding-colors-item:nth-child(4){transition:-webkit-transform .1s linear .8s;transition:transform .1s linear .8s;transition:transform .1s linear .8s,-webkit-transform .1s linear .8s}.media-party-branding-colors .media-party-branding-colors-item:nth-child(4) .branding-color-text-wrapper{transition:all .4s linear .9s}.media-party-branding-colors .media-party-branding-colors-item:nth-child(5){transition:-webkit-transform .1s linear .9s;transition:transform .1s linear .9s;transition:transform .1s linear .9s,-webkit-transform .1s linear .9s}.media-party-branding-colors .media-party-branding-colors-item:nth-child(5) .branding-color-text-wrapper{transition:all .4s linear 1s}.media-party-branding-colors-item{-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform-origin:left;transform-origin:left}@media (max-width:991px){.media-party-branding-colors-item{margin-bottom:40px}}.media-party-branding-colors-item.white-color{width:40%}@media (max-width:991px){.media-party-branding-colors-item.white-color{width:57.5%}}.media-party-branding-colors-item.white-color .branding-color{background-color:#fff;border:1px solid #333}.media-party-branding-colors-item.black-color{width:30%}@media (max-width:991px){.media-party-branding-colors-item.black-color{width:42.5%}}.media-party-branding-colors-item.black-color .branding-color{background-color:#333}.media-party-branding-colors-item.blue-color{width:10%}@media (max-width:991px){.media-party-branding-colors-item.blue-color{width:33.33%}}.media-party-branding-colors-item.blue-color .branding-color{background-color:#4dd8d6}.media-party-branding-colors-item.grey-color{width:10%}@media (max-width:991px){.media-party-branding-colors-item.grey-color{width:33.33%}}.media-party-branding-colors-item.grey-color .branding-color{background-color:#ebebeb}.media-party-branding-colors-item.yellow-color{width:10%}@media (max-width:991px){.media-party-branding-colors-item.yellow-color{width:33.33%}}.media-party-branding-colors-item.yellow-color .branding-color{background-color:#ffaf33}.media-party-branding-colors-item .branding-color{height:68px;width:100%;margin-bottom:35px}.media-party-branding-colors-item .branding-color-text-wrapper{width:100%;border-left:1px solid #979797;padding-top:50px;padding-left:20px;opacity:0;-webkit-transform:translate3d(0,50%,0);transform:translate3d(0,50%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}@media (max-width:767px){.media-party-branding-colors-item .branding-color-text-wrapper{font-size:14px;padding-top:25px;padding-left:10px}}.media-party-branding-colors-item .branding-color-hexa{display:block;font-weight:600}.media-party-landing-mockup{box-shadow:0 0 30px 0 hsla(0,0%,84%,.5)}.media-party-landing-pop{position:relative;padding-bottom:300px}@media (min-width:768px) and (max-width:1199px){.media-party-landing-pop{padding-bottom:200px}}@media (max-width:767px){.media-party-landing-pop{padding-bottom:116%;margin-bottom:70px}}.media-party-landing-pop-svg{max-height:100%;position:absolute;left:-10%;z-index:1;overflow:visible!important;width:100%}
.media-party-landing-pop-media{position:relative;box-shadow:0 0 30px 0 hsla(0,0%,84%,.5);z-index:3}@media (max-width:767px){.media-party-landing-pop-media{position:absolute;max-width:90%;top:0;left:-20px}}@media (min-width:768px) and (max-width:1199px){.media-party-landing-pop-media{max-width:70%}}.media-party-landing-pop-media.under{position:absolute;top:250px;right:0;z-index:2}@media (max-width:1199px){.media-party-landing-pop-media.under{right:0;top:50%;left:auto}}@media (max-width:767px){.media-party-landing-illustrations-column{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex}}@media (max-width:767px){.media-party-landing-illustrations{width:100%}}.media-party-landing-illustrations-list{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}@media (min-width:768px){.media-party-landing-illustrations-list{margin:0 auto;width:405px}}@media (max-width:991px){.media-party-landing-illustrations-list{margin-bottom:50px}}.media-party-landing-illustrations-item{background-color:#f4f4f4;background-position:50%;background-repeat:no-repeat;background-size:auto;width:115px;height:120px;margin-right:20px;margin-bottom:10px}@media (max-width:767px){.media-party-landing-illustrations-item{width:calc(33.33% - 10px);margin:0 5px 10px}}.media-party-landing-illustrations-item.illustration-1{background-image:url(../images/media-party/illustrations/1.svg)}.media-party-landing-illustrations-item.illustration-2{background-image:url(../images/media-party/illustrations/2.svg)}.media-party-landing-illustrations-item.illustration-3{background-image:url(../images/media-party/illustrations/3.svg)}.media-party-landing-illustrations-item.illustration-4{background-image:url(../images/media-party/illustrations/4.svg)}.media-party-landing-illustrations-item.illustration-5{background-image:url(../images/media-party/illustrations/5.svg)}.media-party-landing-illustrations-item.illustration-6{background-image:url(../images/media-party/illustrations/6.svg)}.media-party-landing-illustrations-item.illustration-7{background-image:url(../images/media-party/illustrations/7.svg)}.media-party-landing-illustrations-item.illustration-8{background-image:url(../images/media-party/illustrations/8.svg)}.media-party-landing-illustrations-item.illustration-9{background-image:url(../images/media-party/illustrations/9.svg)}@media (max-width:767px){.media-party-landing-illustrations-item.medium{width:calc(50% - 10px);margin:0 5px 10px}}.media-party-landing-illustrations-item.big{width:250px;height:250px}@media (max-width:767px){.media-party-landing-illustrations-item.big{width:100%}}@media (min-width:992px){.media-party-landing-dribbble{padding:0 160px}}@media (min-width:992px){.media-party-landing .padding-row{padding:0 90px}}@media (min-width:1200px){.media-party-landing .padding-row{padding:0 170px}}.media-party-landing .svg-overflow{overflow:visible}.media-party-photo-colors{width:790px;max-width:100%;margin:0 auto 100px}@media (min-width:768px) and (max-width:991px){.media-party-photo-colors{width:718px}}.media-party-photo-colors.custom-animated .byn{opacity:1}.media-party-photo-colors.custom-animated .media-party-photo-colors-wrapper:before{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}.media-party-photo-colors-wrapper{position:relative;overflow:hidden;margin-bottom:30px}@media (min-width:768px){.media-party-photo-colors-wrapper{height:379px}}@media (max-width:767px){.media-party-photo-colors-wrapper{margin:0 -20px 30px;padding-bottoM:calc(56.25% + 130px)}}.media-party-photo-colors-wrapper:before{content:"";background-color:#ffaf33;width:411px;opacity:.85;position:absolute;top:0;right:0;bottom:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:2;transition:-webkit-transform .6s ease-out 1s;transition:transform .6s ease-out 1s;transition:transform .6s ease-out 1s,-webkit-transform .6s ease-out 1s}@media (min-width:768px) and (max-width:991px){.media-party-photo-colors-wrapper:before{width:333px}}@media (max-width:767px){.media-party-photo-colors-wrapper:before{width:auto;top:auto;bottom:0;left:0;height:200px;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}}.media-party-photo-colors-background{position:absolute;top:0;left:0;bottom:0;background-image:url(../images/media-party/people-backgorund.jpg);background-repeat:no-repeat;background-position:50%;background-size:cover;width:569px}@media (max-width:767px){.media-party-photo-colors-background{width:100%;bottom:100px}}.media-party-photo-colors-background.byn{background-image:url(../images/media-party/people-backgorund-bn.jpg);opacity:0;transition:opacity .6s ease-out .5s}.media-party-photo-colors-list,.media-party-photo-colors-list-item{display:-webkit-box;display:-ms-flexbox;display:flex}.media-party-photo-colors-list-item{text-align:center;width:188px;margin-right:7px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}@media (min-width:768px){.media-party-photo-colors-list-item{padding-top:25px;border-top:1px solid #000}}@media (max-width:767px){.media-party-photo-colors-list-item{width:50%;padding-top:0;padding-bottom:25px;border-bottom:1px solid #000}}.media-party-photo-colors-list-item:first-child:before{content:"1"}.media-party-photo-colors-list-item:nth-child(2):before{content:"2"}.media-party-photo-colors-list-item:nth-child(3):before{content:"3"}.media-party-photo-colors-list-item:before{color:#ebebeb;font-size:50px;font-weight:900;margin-right:-10px}@media (min-width:768px){.media-party-photo-colors-list-item.medium{width:183px}}.media-party-photo-colors-list-item.long{width:calc(100% - 198px * 2);padding-left:40px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}@media (max-width:767px){.media-party-photo-colors-list-item.long{width:100%;padding-left:20px}}.media-party-more-colors-list{display:-webkit-box;display:-ms-flexbox;display:flex;margin-left:auto}.media-party-more-colors-item{width:40px;height:10px;margin-right:7px}@media (max-width:767px){.media-party-more-colors-item{width:25px}}.media-party-more-colors-item.orange{background-color:#ffaf33}.media-party-more-colors-item.aquamarine{background-color:#4dd8d6}.media-party-more-colors-item.grey{background-color:#ebebeb}.media-party-photo-grid{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-bottom:50px}@media (max-width:767px){.media-party-photo-grid{margin-bottom:50px}}.media-party-photo-grid-item{width:50%;height:0;padding-bottom:30%;position:relative;overflow:hidden}@media (max-width:767px){.media-party-photo-grid-item{width:100%;padding-bottom:56.25%}}@media (min-width:768px){.media-party-photo-grid-item:nth-child(n+3){width:33.33%}}.media-party-photo-grid-img{width:100%;height:auto;position:absolute;transition:-webkit-filter .6s ease-out 1s;transition:filter .6s ease-out 1s;transition:filter .6s ease-out 1s,-webkit-filter .6s ease-out 1s}.media-party-photo-grid-img.custom-animated{-webkit-filter:grayscale(100%);filter:grayscale(100%)}.media-party-numbers-item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.media-party-numbers-column{position:relative;margin-bottom:20px}.media-party-numbers-svg{position:absolute;bottom:10px;left:-50px;z-index:1;overflow:visible!important}.media-party-numbers-number{color:#d4d4d4;font-size:60px;font-weight:900;letter-spacing:3.8px;position:relative;z-index:2}.media-party-numbers-text{width:100%;display:block;text-align:center}.media-party-press-twitter-row{margin:0 -10px}.media-party-press-twitter-row .col-xxs-12{padding:0 10px}@media (max-width:767px){.media-party-press-twitter-row .twitter-tweet{margin-left:auto!important;margin-right:auto!important}}blockquote.twitter-tweet a{display:none}
.media-party-thank-you{padding:30px 0;box-sizing:border-box;position:relative}.media-party-thank-you-background,.media-party-thank-you-text{position:absolute}.media-party-thank-you-background{width:100%;height:100%}.media-party-thank-you-background,.media-party-thank-you-svg{overflow:visible!important}.media-party-thank-you-text{font-weight:600;letter-spacing:2.85px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.media-party-thank-you-heart{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:scale(0);transform:scale(0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-animation:Eb 2s infinite ease-out;animation:Eb 2s infinite ease-out}.media-party-thank-you-heart:first-child{-webkit-animation-delay:0s;animation-delay:0s}.media-party-thank-you-heart:nth-child(2){-webkit-animation-delay:1s;animation-delay:1s}.media-party-thank-you-heart:nth-child(3){-webkit-animation-delay:2s;animation-delay:2s}

.container5{
    margin-left: 12%; 
}
.container6{
    margin-left: 15%; 
}
.arriba{
    margin-top: 10%;
}
.arriba1{
    margin-top: 3%;
}
.abajo{
    padding-top: 5%;
}
.footer{
    background: #ff7b00;
}
.footer .main_footer{
    overflow: hidden;
}
.copyright_text{
    text-align: left;
}
.copyright_text p{
    color:rgb(0, 0, 0);
    line-height: 25px;
    max-width: 100%;
    padding-top: 20px;
    width: 100%;
}
.copyright_text p i{
    padding:0px 10px;
    color:#ff0000;
}
.copyright_text p a{
    padding:0px 0px;
    color:#fff;
}


.sec-contact {
    background-color: #ff7b00;
  }
  
  /* .sec-contact .bg-img {
    background-image: url(../img/contact/bg.png);
  } */
  
  .sec-contact .row {
    text-align: left;
  }
  
  .sec-contact h2 {
    margin-top: 13px;
  }
  
  .sec-contact h3 {
    margin: 0 auto 30px;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    position: relative;
  }
  
  .sec-contact h3::before {
    position: absolute;
    content: '';
    border-bottom: dotted;
    width: 32px;
    top: 26px;
    border-width: 2px;
    border-color: #c5c5c5;
  }
  
  /* .sec-contact .google-maps {
    height: 250px;
  } */
  
  .sec-contact .contact {
    padding: 47px 30px 30px;
    background-color: #FF7B00;
    

    /* -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3); */
  }
  
  .sec-contact .contact h3 {
    color: #303030;
    display: inline-block;
  }
  
  .sec-contact .contact p {
    max-width: 800px;
    line-height: 1.857;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
  }
  
  .sec-contact .contact .contact-info {
    margin-bottom: 18px;
  }
  
  .sec-contact .contact .contact-info h5 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
  }
  
  .sec-contact .contact .contact-info h5 i {
    margin-right: 15px;
    font-size: 20px;
  }
  
  .sec-contact .contact .contact-info h6 {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
  }
  
  .sec-contact .contact .social {
    display: inline-block;
    margin-top: 15px;
    position: relative;
  }
  
  .sec-contact .contact .social a + a {
    margin-left: 7.5px;
  }
  
  .sec-contact .contact .social a i {
    vertical-align: middle;
    line-height: 32px;
    height: 32px;
    width: 32px;
    font-size: 16px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .sec-contact .contact .social a i.fa-facebook {
    background-color: #3b5998;
  }
  
  .sec-contact .contact .social a i.fa-facebook:hover {
    -webkite-box-shadow: 0 5px 25px 0 rgba(59, 89, 152, 0.5);
    -moz-box-shadow: 0 5px 25px 0 rgba(59, 89, 152, 0.5);
    box-shadow: 0 5px 25px 0 rgba(59, 89, 152, 0.5);
  }
  
  .sec-contact .contact .social a i.fa-twitter {
    background-color: #1da1f2;
  }
  
  .sec-contact .contact .social a i.fa-twitter:hover {
    -webkite-box-shadow: 0 5px 25px 0 rgba(29, 161, 242, 0.5);
    -moz-box-shadow: 0 5px 25px 0 rgba(29, 161, 242, 0.5);
    box-shadow: 0 5px 25px 0 rgba(29, 161, 242, 0.5);
  }
  
  .sec-contact .contact .social a i.fa-pinterest-p {
    background-color: #bd081c;
  }
  
  .sec-contact .contact .social a i.fa-pinterest-p:hover {
    -webkite-box-shadow: 0 5px 25px 0 rgba(189, 8, 28, 0.5);
    -moz-box-shadow: 0 5px 25px 0 rgba(189, 8, 28, 0.5);
    box-shadow: 0 5px 25px 0 rgba(189, 8, 28, 0.5);
  }
  
  .sec-contact .contact .social a i.fa-rss {
    background-color: #f26522;
  }
  
  .sec-contact .contact .social a i.fa-rss:hover {
    -webkite-box-shadow: 0 5px 25px 0 rgba(242, 101, 34, 0.5);
    -moz-box-shadow: 0 5px 25px 0 rgba(242, 101, 34, 0.5);
    box-shadow: 0 5px 25px 0 rgba(242, 101, 34, 0.5);
  }
  
  .sec-contact form {
    height: 100%;
    background-color: #3059be;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
    padding: 39px 30px;
  }
  
  .sec-contact form .form-group {
    margin-bottom: 20px;
  }
  
  .sec-contact form .form-group input,
  .sec-contact form .form-group textarea {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: white;
    height: 40px;
  }
  
  .sec-contact form .form-group input::-webkit-input-placeholder,
  .sec-contact form .form-group textarea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.25);
  }
  
  .sec-contact form .form-group input::-moz-placeholder,
  .sec-contact form .form-group textarea::-moz-placeholder {
    color: rgba(255, 255, 255, 0.25);
  }
  
  .sec-contact form .form-group input:-ms-input-placeholder,
  .sec-contact form .form-group textarea:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.25);
  }
  
  .sec-contact form .form-group input:-moz-placeholder,
  .sec-contact form .form-group textarea:-moz-placeholder {
    color: rgba(255, 255, 255, 0.25);
  }
  
  .sec-contact form .form-group textarea {
    height: 200px;
    resize: none;
  }
  
  .sec-contact form .form-group input.contact_error,
  .sec-contact form .form-group textarea.contact_error {
    border: 1px solid #ff5a00;
  }
  
  .sec-contact form button {
    margin-top: 10px;
    height: 40px;
    width: 180px;
    background-color: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #3059be;
  }
  
  .sec-contact.solid {
    background-color: #725ce6;
  }
  
  .sec-contact.solid .contact .contact-info h5 {
    color: #725ce6;
  }
  
  .sec-contact.solid form {
    position: relative;
    z-index: 0;
    background-color: #725ce6;
  }
  
  .sec-contact.solid form::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }
  
  .sec-contact.solid form button {
    color: #725ce6;
  }
  
 .img-responsive12{
    margin-right: 55%;
    max-width: 100%;
    height: auto;
 }
